<div class="products-title pt-5 pt-md-5 pt-lg-5">
  <h2>PRODUCTS</h2>
  <div class="underline"></div>

  <div class="search-wrapper">
    <input
      type="text"
      class="search-box"
      placeholder="Search..."
      [(ngModel)]="searchText"
      (input)="filterProducts()"
      (keydown)="onKeyDown($event)"
    >
    <i class="search-icon" (click)="goToSelected()"></i>
  </div>
</div>

<ul class="search-results" *ngIf="searchText && filtered.length > 0">
  <li
    *ngFor="let item of filtered; let i = index"
    [class.active]="i === activeIndex"
  >
    {{ item.title }}
  </li>
</ul>

<div class="grid">
  <app-product-card
    *ngFor="let item of filtered"
    [product]="item"
    [attr.id]="'product-' + item.id"
    (add)="addToCart($event)">
  </app-product-card>
</div>
