.card {
  width: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: none !important;      
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  border-radius: 10px;
  transition: 0.3s;
}



.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;   
  background-color: #fff;
  border-radius: 8px;
}

h3 {
  margin: 10px 0 5px;
  text-align: center;
  font-size: 18px;
}

.qty-box {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

.qty-box button {
  padding: 2px 8px;
  cursor: pointer;
}

.add {
  width: 100%;
  background: #f5c518;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  transition: width 0.4s ease, height 0.4s ease, opacity 0.5s ease;

}
.add:hover{
transform:scale(0.97);
transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);


}



@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 220px;
  }

  .card img {
    height: 170px;
  }

  h3 {
    font-size: 16px;
  }

  .add {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }

  .card img {
    height: 150px;
  }

  h3 {
    font-size: 15px;
  }

  .qty-box {
    gap: 6px;
  }

  .qty-box button {
    padding: 2px 6px;
  }
}
