.register-container {
  width: 70%;
  margin: 50px auto;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 2px;
}

.underline {
  width: 60px;
  height: 5px;
  background: #f2cc4c;
  margin: 10px auto 40px;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

input {
  padding: 20px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color:  #f2cc4c;
}

.btns {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.btn-yellow {
  background: #f4ca33;
  border: none;
  padding: 18px 50px;
  color: #000;
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.2s ease-in-out;
}

.btn-yellow:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.btn-white {
  background: white;
  border: 2px solid #ddd;
  padding: 18px 50px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-white:hover {
  border-color: #f2cc4c;
}
@media (max-width: 768px) {
  .register-container {
    width: 90%;
    margin: 30px auto;
  }

  .title {
    font-size: 32px;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }

  label {
    font-size: 18px;
  }

  input {
    padding: 14px;
    font-size: 16px;
  }

  .btns {
    flex-direction: column;
    gap: 20px;
  }

  .btn-yellow,
  .btn-white {
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }
}
